<%- include("partials/header") -%>

<div class="container">
  <h1>Uh oh - 404: Page not found!</h1>
  <p>
    Looks like the page you're trying to view no longer exists. Click <a href="/">here</a> to return home.
  </p>
</div>

<%- include("partials/footer") -%>
