<%- include("partials/header") -%>

<div class="container">
  <h1>Uh oh!</h1>
  <p>There was a problem processing the payment. The customer has not been charged.</p>
  <p>Click <a href="/payments/new">here</a> to setup the payment again.</p>
</div>

<%- include("partials/footer") -%>
